.bg-blur {
    /* The image used */
    background-image: url("photographer.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(3px) brightness(30%);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #carouselCustomerExperience .blockquote{
    padding: 0 200px;
  }

  #accordion-faq .accordion-body{
    padding: 30px 30px;
  }